.container{
    background-color: aliceblue;
}
div.section1{
    background-color: burlywood;

 
}

.center-block {
    padding-top: 2rem;

    text-align: center;
    padding-bottom: 2rem;
  
  }
.row{
      margin-right: 0;
  }
img.section-1-img{
    width: 50%;
}
div.section2{
    background-color: red;
}
#credit-id{
    font-size: 12px;
}
.title-header{
    padding-top: 4rem;
color:#ffffff;
text-align: center;
}

.search-btn{
    border-radius: 1rem;
    margin-bottom: 10px;
  padding: 0 5rem;
  margin-top: 20px;

}
.movie-search{
    width: 20rem;
    margin-left: 6rem;
    margin-top: 20px;
    border-radius: 8px;
}
.movie-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container.card-container{
    
    background-color: antiquewhite;
   margin-bottom: 20px;
}
div.card-container {
    display: inline-block;
    padding: 1,1,1,1;

}
img.moviePoster{
    padding:8px;
}
@media(max-width:700px){
   

    img.section-1-img{
        width: 90%;
    }
    .title-header{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .movie-search{
        width: 15rem;
    }
    .search-btn{
        padding: 0 2rem;
        margin-right: 20px;
    }
  }